<div class="form-group" ng-class="{'has-error has-feedback': ($root.errors && $root.errors[fName]) || (form[fName].$dirty && form[fName].$invalid)}">
	<label class="control-label" for="field" ng-if="showLabel">{{ comboLabel | translate }} <span ng-show="comboRequired">*</span></label>
	<div ui-select2="options" cmb-change="onChange" 
			class="combo form-select" 
			name="comboName"
			ng-model="comboModel"
			data-placeholder="{{ 'action.select' | translate }} {{ comboLabel | translate | lowercase }}..." ></div>
			
	<span ng-if="$root.errors[fName] || (form[fName].$invalid && form[fName].$dirty)" 
  			class="glyphicon glyphicon-remove form-control-feedback"></span>
	<p ng-show="$root.errors[fName]" class="help-block">{{$root.errors[fName] | translate}}</p>
	<div ng-repeat="(err,val) in form[fName].$error">
		<p ng-show="val && form[fName].$invalid && form[fName].$dirty" class="help-block">
			{{ 'validation.'+err | translate: validationParams }}
	</p>
</div>